<div class="home-container ">
    
    <!-- Trending -->
    <div class="homepageHeader mx-auto">
        Trending
    </div>

    <!-- Trending Card Deck-->
    <div class="card-deck mx-auto homepage">
        <!-- Trending 1 -->
        <div class="card bg-light text-white">
            <img class="card-img-top" src="img/standin.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title">Trending 1</h5>
                <p class="card-text"> Content </p>
            </div>
        </div>

        <!-- Trending 2 -->
        <div class="card bg-light text-white">
            <img class="card-img-top" src="img/standin.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title">Trending 2</h5>
                <p class="card-text"> Content </p>
            </div>
        </div>

        <!-- Trending 3 -->
        <div class="card bg-light text-white">
            <img class="card-img-top" src="img/standin.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title">Trending 3</h5>
                <p class="card-text"> Content </p>
            </div>
        </div>

        <!-- Trending 4 -->
        <div class="card bg-light text-white">
            <img class="card-img-top" src="img/standin.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title">Trending 4</h5>
                <p class="card-text"> Content </p>
            </div>
        </div>
    </div>

    <!-- Feed -->
    <div id="app">
        <div class="homepageHeader mx-auto">
            Feed
        </div>

        <div class="mx-auto text-center">
            <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
              <div class="post">
                <div class="card mx-auto homepage text-left">
                <div class="card-body">
                    <h5 class="card-title"> Post </h5>
                    <p class="card-text"> Post Body </p>
                </div>
                <div class="card-footer text-muted text-left">
                    2 days ago
                </div>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- Back to top scroll button -->

<button onclick="topFunction()" id="toTopBtn" title="Back to Top">Back to Top</button>